input:focus{
    outline:0;
}
button{
    font-family: inherit;
}
button:focus{
    outline: 0;
}
html,body{
    margin:0;
    padding:0;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    color:#333;
    background: #fff;
    line-height:21px;
    font-size:16px;
    min-width: 960px;
}
body{
    padding-top:90px;
}
a{
    color:#00e641;
}
.no-a{
    color:inherit;
    text-decoration: inherit;
}
header{
    display: flex;
    position:absolute;
    top:0;
    left:0;
    min-width: 960px;
    width: 100%;
    height:48px;
    background: #222;
    color:#fff;
}
header .logo{
    flex:0 0 280px;
    padding:13px 20px;
    font-size: 22px;
    font-weight: 700;
    color:#00e641;
}
header .logo-text{
}
header .logo .lnr-layers{
    vertical-align: top;
    font-size: 22px;
    display:inline-block;
    width:48px;
}
header .search{
    background: #222;
    position:relative;
    flex:1;
    z-index:15;
}
header .search .lnr-magnifier{
    position:absolute;
    display:inline-block;
    left:11px;
    top:17px;
    font-size: 14px;
    z-index: 21;
    color:#222;
}
header .search input, header .search a{
    display:inline-block;
    position:absolute;
    left:0;
    top:8px;
    padding:6px 7px 6px 45px;
    font-size:inherit;
    border-radius: 3px;
    background:rgba(255,255,255,0.7);
    color:#333;
    border:none;
    width:310px;
    z-index: 20;
    transition: background-color, width 100ms;
}
header .search a{
    height: 19px;
    display:inline-block;
    position:absolute;
    left:0;
    top:8px;
    padding:6px 0 6px 0;
    font-size:inherit;
    border-radius: 3px;
    background:rgba(255,255,255,0.7);
    color:#333;
    border:none;
    width:310px;
    z-index: 20;
}
header .search input:focus{
    background:rgba(255,255,255,1);
    width:100%;
}
header .search button{
    position:absolute;
    top:-9999px;
}
header .menu{
    flex:0 0 350px;
    text-align: right;
    padding-right:20px;
    z-index: 10;
}
header .menu a{
    display:inline-block;
    padding:13px 20px;
    transition:background-color 100ms;
}
header .menu a:hover{
    background:#000;
}
nav{
    display: flex;
    position:absolute;
    top:48px;
    left:0;
    min-width: 960px;
    width: 100%;
    height:48px;
    background:#f0f0f0;
    border-bottom: solid 1px #ddd;
}
nav .new-tag-placeholder{
    padding:0 20px;
    flex:0 0 280px;
}
.new-tag{
    padding:0 18px;
    position: absolute;
    top:50px;
    left:2px;
    width:274px;
    z-index: 30;
}
.new-tag.active{
    background: #fff;
    border:solid 1px #555
}
nav .backlink{
    padding: 13px 20px;
    flex:0 0 280px;
}
nav .backlink .lnr-chevron-left{
    vertical-align: text-bottom;
    font-size: 22px;
    display:inline-block;
    width:48px;
}
.new-tag form{
    display:block;
    position:relative;
}
.new-tag .lnr-tag{
    padding:11px 0;
    vertical-align: text-bottom;
    font-size: 22px;
    display:inline-block;
}
.new-tag input{
    position: absolute;
    top:-2px;
    left:46px;
    width:220px;
    height:48px;
    padding:0 5px;
    background: none;
    border: none;
    font-size: inherit;
}
.new-tag-details{
    padding:20px 0 20px 50px;
    display:flex;
}
.new-tag-details select{
    flex:2;
    padding:5px;
    margin-right:5px;

}
.new-tag-details button{
    padding:5px;
    flex:1;
    color:#fff;
    background: #333;
    cursor: pointer;
    font-weight: 700;
    border: none;
}
nav .tags{
    padding:8px 0;
    flex:1;
    white-space: nowrap;
    overflow-y: auto;
}
nav .tag{
    font-weight: 700;
    display:inline-block;
    color:#fff;
    padding:5px 8px;
    margin-right:7px;
}
nav .tag .delete-tag{
    display:inline-block;
    color:#fff;
    overflow:hidden;
    max-width: 0;
    vertical-align: text-bottom;
    transition: max-width 50ms;
}
nav .tag:hover .delete-tag{
    max-width: 15px;
}
.wrapper{
    display:flex;
    position:absolute;
    top:97px;
    left:0;
    bottom:0;
    width:100%;
}
aside{
    overflow-y: auto;
    position: relative;
    padding-top:15px;
    background: #f0f0f0;
    border-right: solid 1px #ddd;
    flex:0 0 320px;
    margin-bottom: 50px;
}
aside.disabled{
    background:none;
    border:none;
}
aside a{
    color:#333;
    font-size: 14px;
    display: block;
    padding:10px 20px;
    background: #f0f0f0;
    transition: background-color 100ms;
}
aside a:hover{
    background: #ddd;
}
aside a.active{
    font-weight: 700;
    background: #bbb;
    color:#000;
}
aside hr{
    border: none;
    border-top:solid 1px #ddd;
}
footer{
    background: #f0f0f0;
    text-align: left;
    position:fixed;
    bottom:0;
    left:0;
    width:300px;
    height:30px;
    border-top:solid 1px #ddd;
    border-right:solid 1px #ddd;
    font-size: 11px;
    padding:10px;
}
main{
    flex:1;
    padding-top:30px;
    overflow-y: auto;
}
.item-list{
}
.item-list h1{
    padding:15px 25px 15px 30px;
    font-size: 16px;
    border-bottom: solid 1px #ddd;
    margin-bottom: 0;
}
.new-item{
    padding:15px 25px 15px 30px;
    font-size: 14px;
    border-bottom: solid 1px #ddd;
}
.new-item .new-item-main{
    display:flex;
}
.new-item input{
    flex: 1;
    width:100%;
    padding:8px 10px 8px 0;
    background:none;
    border:none;
    font-size: 16px;
}
.new-item button{
    border:solid 1px #ddd;
    color:#aaa;
    background:#fff;
    flex: 50px 0 0;
    font-weight: 700;
    transition: background-color, color, border-bottom-color, border-left-color, border-right-color, border-top-color 100ms;
}
.new-item button.active{
    border-color: #333;
    color:#fff;
    background: #333;
    cursor: pointer;
}
.new-item-details{
    overflow:hidden;
    max-height: 100px;
    padding-top:10px;
}
.new-item-details.hidden{
    max-height: 0;
}
.item-list .new-item .new-item-details select{
    padding:5px;
}
.item-list .new-item .new-item-details .new-item-tag{
    padding:5px;
    color:#fff;
    margin-left:5px;
}
.list-item{
    font-size: 14px;
    padding:12px 25px 12px 5px;
    border-bottom:solid 1px #ddd;
    transition:background-color 50ms;
}
.list-item-compact{
    display: flex;
}
.list-item.done .list-item-title, .list-item.done .list-item-description{
    text-decoration: line-through;
    color:#aaa;
}
.list-item.done .list-item-tags{
    opacity: .5;
}
.list-item:hover{
    background: #ddd;
}
.list-item .checkbox{
    flex:0 0 50px;
}
.list-item svg{
    position:relative;
    top:2px;
    margin:0 20px;
    height:18px;
}
.list-item-title{
    flex:0 0 200px;
    cursor: pointer;
}
.list-item-title input{
    width: 140px;
}
.list-item-compact .item-user-info,.list-item-compact  .list-item-tags{
    flex:1;
}
.list-item-expand, .list-item-delete{
    text-align: right;
    flex:0 0 40px;
}
.list-item-tags .tag{
    font-weight: 700;
    color:#fff;
    padding:4px;
    margin-left:8px;
    white-space: nowrap;
}
.list-item-tags .tag .delete-tag{
    display:inline-block;
    overflow:hidden;
    max-width: 0;
    vertical-align: text-bottom;
    transition: max-width 50ms;
}
.list-item-tags select{
    font-weight: 700;
    color:#fff;
    background: #333333;
    padding:4px;
    margin-left:8px;
    border:none;
}
.list-item-tags select option{
    background: #fff;
    color: #333;
}
.list-item-compact .tag:hover .delete-tag{
    max-width: 15px;
}
.list-item-expanded{
    padding:5px 10px 5px 58px;
}
.list-item-compact .list-item-description{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list-item-description textarea{
    display:inline-block;
    width:100%;
}
.list-item-created{
    margin-top:20px;
}
.list-item-created, .list-item-finished{
    font-size:10px;
    color: #999;
}
.no-items{
    text-align: center;
    padding:15px;
}